body {
  background-color: #2C3E50;
}

form {
  margin: 10px 30px 0px 30px;
}

legend {
  margin-bottom: 5px;
}

.playlistButton {
  position: absolute;
  right: 25px;
  bottom: 30px;
}

.panel-heading {
  height: 50px;
}

.alert {
  padding: 6px 30px 8px 30px;
}

.alert-danger {
  height: 50px;
  margin-bottom: 0px;
}

.dropdown-menu {
  width: 250px;
}

.btn {
  margin: 0px;
}

.btn-success {
  margin-right: 30px;
  margin-bottom: 10px;
}

.btn-default {
  width: 120px;
}

li {
  display: inline;
  padding-right: 2px;
}


#main {
  margin-top: 20px;
}

#tag {
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-top: 10px;
}

#good {
  margin-right: 10px;
}

#bleh {
  margin-right: 10px;
}
